@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../node_modules/@inertiaui/modal-vue/src/**/*.{js,vue}';

@theme inline {
  /* Uncomment below to debug transitions */
  /* --default-transition-duration: 2000ms; */

  --breakpoint-xs: 32rem;
  --breakpoint-3xl: 120rem;

  --spacing-padding-x: clamp(1rem, calc(0.2rem + 1.5vw), 2rem);
  --spacing-padding-y: clamp(1.5rem, calc(1.1rem + 5vw), 2rem);

  --spacing-base: calc(var(--spacing-padding-x) / 1.5);
  --spacing-base-y: calc(var(--spacing-padding-x) / 3);

  --spacing-wide: clamp(1.2rem, calc(var(--spacing-base) * 2), 2rem);
  --spacing-wide-y: clamp(0.8rem, calc(var(--spacing-base-y) * 2), 1.33rem);

  --font-sans:
    'Instrument Sans', 'Liberation Sans', Tahoma, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-danger: var(--color-destructive-foreground);
  --color-danger-foreground: var(--color-destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);

    /* Disable transitions, animations and smooth scrolling for reduced-motion settings */
    @media (prefers-reduced-motion: reduce) {
      transition-duration: 0.01ms !important;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
    }
  }

  :root {
    font-family: var(--font-sans);
    font-size: clamp(1.1em, calc(0.8em + 0.5vw), 1.4em);
  }
}

@layer components {
  /* Hide lazy-loaded image containers until fully loaded */
  .has-image:has(img:not([src])) {
    visibility: hidden;
  }

  [data-inertiaui-modal-id] .modalPanel {
    @apply rounded-lg border-2 border-foreground/15 bg-background/80 text-foreground shadow-xl shadow-accent/20 backdrop-blur-md @md:rounded-2xl;
  }

  [data-inertiaui-modal-id] .modalPanel.close-left > *:has(> .im-close-button) {
    @apply right-auto left-0 pr-0 pl-3;
  }

  [data-inertiaui-modal-id] .modalSlideover {
    @apply min-h-[50lvh] rounded-r-none border-r-0;
  }

  [data-inertiaui-modal-id] .modalPadding {
    @apply p-0 @md:p-0;
  }

  [data-inertiaui-modal-id] .modalPadding.modalSlideover {
    @apply p-4 @md:p-6;
  }

  [data-inertiaui-modal-id] [data-state='open'].im-backdrop {
    @apply !bg-background/70 backdrop-blur-xs;
  }

  :root:has([data-inertiaui-modal-id] [data-state='open']) {
    overflow: hidden;
  }
}

@layer utilities {
}

:root {
  --background: hsl(230.17, 20.71%, 85%);
  --foreground: var(--color-zinc-950);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9%);
  --primary: hsl(0 0% 9%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(0 0% 92.1%);
  --secondary-foreground: hsl(0 0% 9%);
  --muted: hsl(216.17, 55%, 60.49%, 0.85);
  --muted-foreground: var(--color-gray-950);
  --accent: hsl(210, 60%, 92%, 0.8);
  --accent-foreground: hsl(21, 93%, 17%);
  --destructive: hsl(0 40.2% 25.2%);
  --destructive-foreground: hsl(180 5% 93%);
  --border: hsl(0 0% 92.8%);
  --input: hsl(0 0% 89.8%);
  --ring: hsl(0 0% 3.9%);
  --radius: 0.5rem;
  --sidebar-background: hsl(220.17, 40.71%, 90%);
  --sidebar-foreground: var(--color-gray-950);
  --sidebar-border: hsl(0 0% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --sidebar: hsl(0 0% 98%);
}
/* cyan, sky, blue, slate, zinc, neutral, stone */
.dark {
  --background: hsl(240, 20%, 6%);
  --foreground: var(--color-zinc-50);
  --card: hsl(0 0% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 3.9%);
  --popover-foreground: 0 0% 98%;
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 9%);
  --secondary: hsl(0 0% 14.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(204, 38.57%, 17.5%);
  --muted-foreground: var(--color-stone-100);
  --accent: hsl(210, 80%, 94%);
  --accent-foreground: hsl(21, 100%, 14%);
  --destructive: hsl(0, 70%, 24%, 0.35);
  --destructive-foreground: hsl(180 10% 85%);
  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --ring: hsl(0 0% 83.1%);
  --sidebar-background: var(--color-stone-900);
  --sidebar-foreground: var(--color-gray-100);
  --sidebar-border: hsl(0 0% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --sidebar: hsl(240 5.9% 10%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply overflow-clip bg-background text-foreground;
  }
}

@custom-variant dark (&:is(.dark *));
@custom-variant hocus (&:hover, &:focus);
@custom-variant hocus-within (&:hover, &:focus-within);
@custom-variant factive (&:focus, &:active);
@custom-variant factive-within (&:focus-within, &:active);
@custom-variant hactive (&:hover, &:active);

@utility column-gap-* {
  column-gap: calc(--value(integer) * var(--spacing));
  column-gap: --value([length], --spacing-*);

  :where(& > *) {
    margin-block: 0 calc(var(--spacing) * --value(integer));
    margin-block: 0 --value([length], --spacing-*);
  }
}

@utility space-* {
  :where(& > :not(:last-child)) {
    margin-inline: 0 calc(var(--spacing) * --value(integer));
    margin-inline: --value([length], --spacing-*);
    margin-block: 0 calc(var(--spacing) * --value(integer));
    margin-block: --value([length], --spacing-*);
  }
}
